*{
    margin: 0; 
    padding: 0; 
}

header{
    background-color: darkolivegreen;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 05px;
}

section{
    display: flex;
    align-items: center;
    background-color: blanchedalmond;
    color: dimgray;
    margin: 05px 0;
    padding: 10px 20px;
}

div{
    padding: 50px;
}
