*{
    margin: 0; 
    padding: 20px; 
}

header{
    background-color: darkolivegreen;
    display: center;
    align-items: center;
    justify-content: space-between;
    padding: 05px;
}

section{

    align-items: center;
    background-color: blanchedalmond;
    color: dimgray;
    margin: 10px 0;
    padding: 10px 20px;
}

div{
    padding: 10px; }
